.Main-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: whitesmoke;
}

mat-card.caurosel-card {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  overflow: hidden;
  width: 70%;
  max-width: 1200px;
  background-color: white;
}

.caurosel-container {
  position: relative;
  flex: 1;
  background: linear-gradient(to bottom, #ffffff, #e6f2ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.caurosel-container img.caurosel-image {
  width: 110%;
  max-width: 700px;
  height: 100%;
  margin-left: 200px;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: transparent;
  color: white;
  border: 0px solid ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.left-arrow {
  left: 15px;
}

.right-arrow {
  right: 15px;
}

.dots-container {
  position: absolute;
  bottom: 20px;
  /* margin-right: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: white;
}

.dot:hover {
  background-color: rgba(255, 255, 255, 0.8);
}


.right-panel {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-image {
  width: 300px;
  margin-bottom: 30px;
}

.form-conatiner {
  width: 100%;
  max-width: 350px;
  margin-left: 100px;
}

mat-form-field {
  width: 70%;
  margin-bottom: 20px;
}

mat-form-field .mat-label {
  color: #333;
  font-weight: bold;
}

button.login-button {
  width: 70%;
  background-color: #000;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

button.login-button:hover {
  background-color: #333;
}

.signup-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
  margin-right: 100px;
}

.signup-text a:hover {
  text-decoration: underline;
}
